In [56]:
import pandas as pd
import numpy as np
import nltk

#Amazon S3
import boto3
from botocore.exceptions import ClientError

In [58]:
bucket = 's3://hiringtrendanalysis/jobdesc.csv' # already created on S3
client = boto3.resource('s3')
df = pd.read_csv(bucket)
df = df.drop('Unnamed: 0', axis=1)
df.head()

,company,location,title,job_desc,role
0,T-Mobile,"Atlanta, GA","Engineer, Software",NaN,software engineer
1,Defibtech,"Branford, CT",Software Engineer,Supporting and implementing database updates o...,software engineer
2,"Bart & Associates, Inc.","Linthicum, MD",Mainframe Developer,"Responsible for designing, building and admini...",software engineer
3,"Assured Information Security, Inc. (AIS)","Chelmsford, MA",Assistant Software Engineer - Cross Domain and...,\nAssist with the implementation of new featur...,software engineer
4,RPS,"South Kingstown, RI",Senior Software Engineer,Develop and grow the RPS Ocean Science core we...,software engineer

In [59]:
df.info

<bound method DataFrame.info of                                        company                 location  \
0                                     T-Mobile              Atlanta, GA
1                                    Defibtech             Branford, CT
2                      Bart & Associates, Inc.            Linthicum, MD
3     Assured Information Security, Inc. (AIS)           Chelmsford, MA
4                                          RPS      South Kingstown, RI
...                                        ...                      ...
7260                                   Entegee            Applewood, CO
7261                                       NaN            Princeton, NJ
7262                     Ascent Services Group  South San Francisco, CA
7263                      Advantage Resourcing          Minneapolis, MN
7264                          Pivotal Commware             Kirkland, WA

                                                  title  \
0                                    Engineer, Software
1                                     Software Engineer
2                                   Mainframe Developer
3     Assistant Software Engineer - Cross Domain and...
4                              Senior Software Engineer
...                                                 ...
7260        Python Data Analyst (NumPy Modbus IEC61850)
7261                              Data Science Engineer
7262                   Artificial Intelligence Engineer
7263                                      Data Engineer
7264                                 mmWave RF Engineer

                                               job_desc  \
0                                                   NaN
1     Supporting and implementing database updates o...
2     Responsible for designing, building and admini...
3     \nAssist with the implementation of new featur...
4     Develop and grow the RPS Ocean Science core we...
...                                                 ...
7260  This position is for a midlevel Python Data An...
7261  Experience architecting and implementing syste...
7262  Participate in cutting edge research in machin...
7263  Significant experience in R/Python to perform ...
7264  Evaluate and qualify active and passive microw...

                           role
0             software engineer
1             software engineer
2             software engineer
3             software engineer
4             software engineer
...                         ...
7260  machine learning engineer
7261  machine learning engineer
7262  machine learning engineer
7263  machine learning engineer
7264  machine learning engineer

[7265 rows x 5 columns]>

In [60]:
print('Column names:')
print('-' * 30)
for i in df.columns:
    print(i)

Column names:
------------------------------
company
location
title
job_desc
role

In [61]:
df.dtypes

company     object
location    object
title       object
job_desc    object
role        object
dtype: object

In [62]:
print('Non null rows of job description')
count = df["job_desc"].count()
print(count)

Non null rows of job description
6229