In [49]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time

import re

#Amazon S3
import boto3
from botocore.exceptions import ClientError
from io import StringIO

In [50]:
def extract_job_info(soup, job_info,role):
#     job_info = {}
    temp = []
    jobdesc = ''
    mainpageURL = '' 
    count = len(job_info)
    for div in soup.find_all(name="div", attrs={"class":"jobsearch-SerpJobCard"}):
        
        for subdiv in div.find_all(name="div", attrs={"class":"sjcl"}):
            try:
                s = subdiv.find(name="span", attrs={"class":"company"})
                temp.append((s.text).strip()) #fetches company names (3)
            except:
                temp.append("NA")

            try:
                d = subdiv.find(name="div", attrs={"class":"recJobLoc"})
                temp.append((d['data-rc-loc']).strip()) #fetches location (4)
            except:
                temp.append("NA")
#         print(div)
        
        for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
            
            try:
                temp.append((a['title']).strip()) #fetches title (1)
            except:
                temp.append("NA")
            
            try:
                mainpageURL = str("https://www.indeed.com" + a["href"])
#                 print(mainpageURL)
                desc_page = requests.get(mainpageURL)
                page_soup = BeautifulSoup(desc_page.text, "html.parser")
                for dv in page_soup.find_all(name="div", attrs={"id":"jobDescriptionText"}):
                    for l in dv.find_all("li"):
                        jobdesc = jobdesc +''+ l.text
#                     print(jobdesc)
                    if jobdesc=='':
                        temp.append('NA')
                    else:
                        temp.append(jobdesc)      #fetches job description (2)
            except:
                temp.append('NA')
                

        temp.append(role)
        
        job_info[count] = temp
        count = count + 1
        temp = []
        jobdesc = ''
            
    return(job_info)

# job_info = extract_job_info(soup)

def htmlParser(role):
    if role == 'software engineer':
        URL = "https://www.indeed.com/jobs?q=software+engineer&l=United+States"
        tempURL = URL
        num = 10
        job_info = {}
        for i in range(0,40):
            page = requests.get(URL)
#             print(page)
            soup = BeautifulSoup(page.text, "html.parser")
#             print(soup.prettify())
            URL = tempURL +'&start='+str(num)
#             print(URL)
            num = num + 10
            job_info = extract_job_info(soup,job_info,role)
            
    elif role == 'data scientist':
        URL = "https://www.indeed.com/jobs?q=data+scientist&l=United+States"
        tempURL = URL
        num = 10
        job_info = {}
        for i in range(0,40):
            page = requests.get(URL)
#             print(page)
            soup = BeautifulSoup(page.text, "html.parser")
#             print(soup.prettify())
            URL = tempURL +'&start='+str(num)
#             print(URL)
            num = num + 10
            job_info = extract_job_info(soup,job_info,role)
    
    elif role == 'data analyst':
        URL = "https://www.indeed.com/jobs?q=data+analyst&l=United+States"
        tempURL = URL
        num = 10
        job_info = {}
        for i in range(0,40):
            page = requests.get(URL)
#             print(page)
            soup = BeautifulSoup(page.text, "html.parser")
#             print(soup.prettify())
            URL = tempURL +'&start='+str(num)
#             print(URL)
            num = num + 10
            job_info = extract_job_info(soup,job_info,role)
    
    elif role == 'machine learning engineer':
        URL = "https://www.indeed.com/jobs?q=machine+learning+engineer&l=United+States"
        tempURL = URL
        num = 10
        job_info = {}
        for i in range(0,40):
            page = requests.get(URL)
#             print(page)
            soup = BeautifulSoup(page.text, "html.parser")
#             print(soup.prettify())
            URL = tempURL +'&start='+str(num)
#             print(URL)
            num = num + 10
            job_info = extract_job_info(soup,job_info,role)
    
    else:
        print('Enter a valid role')
    
    return job_info

def uploadToS3(result):
    try:
        bucket = 'hiringtrendanalysis' # already created on S3
        csv_buffer = StringIO()
        result.to_csv(csv_buffer)
        s3_resource = boto3.resource('s3')
        s3_resource.Object(bucket, 'jobdesc.csv').put(Body=csv_buffer.getvalue())
    except ClientError as e:
        logging.error(e)
        return False
    return True

## scraping software engineer jobs

In [51]:
swe_info = htmlParser('software engineer')
print(len(swe_info))
swe_info[15]

746

['Ribbon Health',
 'New York, NY',
 'Software Engineer (All Levels)',
 '\nPassion and drive to simplify healthcare by building products that increase access to care and power every healthcare decision to be high-quality, cost-effective, and convenient\nCommitment to Ribbon Health company values, working on an exceptional team, and building an exceptional company\nGrit, hustle, desire, and a “get-it-done” attitude; strong comfort with a lean startup environment, where everyone is encouraged to participate in and contribute across all teams\nYou have a strong background in Computer Science or other equivalent field\nYou have experience developing full applications from start-to-finish\nYou have experience working with data at scale (e.g., EMR, Hadoop, Spark, HBase, Presto, pushed the limits of Postgres) and designing, building, and managing scalable systems in the cloud (e.g., AWS, Google Cloud, Azure)\nYou care about building enterprise-grade systems because you understand how our products meaningfully impact patients downstream\nYou have comfort with AWS cloud technologies and have a track record of learning new technologies and languages on the job\nBuild production-grade API platform: You will design, build, and maintain Ribbon’s core APIs and services, making sure our platform is enterprise-grade across end-user functionality, security, and scalability\nBuild and launch new products: You will work with the product team to design, build, and launch new products and product features. This includes new APIs and front-end applications to extend the reach of our core technology\nBuild data pipelines: You will build data pipelines to bring together thousands of datasets across hundreds of different sources; data engineering is a core part of what we do\nBuild data infrastructure: You will develop infrastructure to support our ETL, analytics and modeling workflows\nBuild internal tools: You will help our internal teams 10x their efforts by developing tools to streamline their workflows (e.g. sales, deployment, recruiting, and product)\nEvaluate third-party and open source software: You will make decisions about what we build versus buy and where to buy',
 'software engineer']

## scraping data analyst jobs

In [52]:
da_info = htmlParser('data analyst')
print(len(da_info))
da_info[11]

749

['Boston Medical Center (BMC)',
 'Boston, MA',
 'Data Analyst',
 '\nPrior experience working with Strata or SAS required\nPrior experience working with claims data very strongly preferred\nWork experience using large datasets and conducting advanced analyses, including claims data, preferred\nAdvanced proficiency in use of SAS/Stata or other statistical programs\nDemonstrated ability to work with claims data\nAdvanced proficiency use of desktop productivity tools including Excel, Word, and PowerPoint\nAbility to manage multiple tasks and deliver required products in a timely manner\nMust be well-organized and highly detail oriented\nDetail oriented with a commitment to producing analytic product that consistently meets the highest standards of accuracy\nExcellent interpersonal skills and the demonstrated ability to work in a team oriented environment\nStrong verbal and written skills\nExperience with ethical conduct of research preferred, but not required',
 'data analyst']

## scraping data scientist jobs

In [53]:
ds_info =  htmlParser('data scientist')
print(len(ds_info))
ds_info[11]

747

['GATACA',
 'Blacksburg, VA',
 'Bioinformatician and Data Scientist',
 'Bioinformatics and Machine Learning/AI: 3 years (Preferred)LikelyOther formsMultiple locationsFully Remote30-399AM6PMOtherwww.gatacallc.com',
 'data scientist']

## scraping machine learning jobs

In [54]:
ml_info =  htmlParser('machine learning engineer')
print(len(ml_info))
ml_info[11]

759

['Emotibot Technologies Limited',
 'Boston, MA',
 'Machine Learning / Deep Learning Engineer',
 'Location: Boston OfficeContact Us at：job@emotibot.comResponsibilities:Participate in cutting edge research in AI and apply Machine Learning in real world, large scale problems such as Computer Vision, Natural Language Understanding, or Speech Analysis.Qualifications:Minimum qualifications:BA/BS degree in Computer Science, related technical field or equivalent practical experience.Preferred qualifications:MS or PhD degree in Computer Science, AI, Machine Learning, or related technical field.Experience with one or more general purpose programming languages including but not limited to: Java, C/C++, C#, Objective C, Python, JavaScript, or Go.Understanding and hands-on development experiences in state-of-the-art machine learning techniques such as Deep Neural Networks, CNN, RNN.Strong background in Natural Language Processing or Computer Vision.',
 'machine learning engineer']

In [55]:
swe_info_df = pd.DataFrame.from_dict(swe_info, orient='index', columns=['company','location','title','job_desc','role'])
swe_info_df.head()

,company,location,title,job_desc,role
0,Indeed,"Seattle, WA","Director, Software Engineering",software engineer,None
1,"Intertech, Inc","San Francisco, CA",.NET Software Engineer - Remote,Contract to hire or direct placement100% Remot...,software engineer
2,GEICO,"Chevy Chase, MD",Senior Software Engineer,Manage system integrations within the architec...,software engineer
3,Sagitec,"Topeka, KS",Software Engineer,"Manage, design, develop, test, implement and m...",software engineer
4,Dassault Systèmes,"Waltham, MA",Full Stack .Net Developer - SOLIDWORKS,\nMaintain highly-available software activatio...,software engineer

In [56]:
da_info_df = pd.DataFrame.from_dict(da_info, orient='index', columns=['company','location','title','job_desc','role'])
da_info_df.head()

,company,location,title,job_desc,role
0,The University of Pittsburgh,"Pittsburgh, PA",Data Analyst,NA,data analyst
1,"INTEGRATED FEDERAL SOLUTIONS, INC.","Washington, DC",Acquisition Data Analyst,Excellent interpersonal and communication skil...,data analyst
2,Private,"Aurora, CO",Data Analyst,401K(matching structure)Performance Incentives...,data analyst
3,"INTEGRA MLTC, INC.","Lake Success, NY",Encounter Data Analyst,"Retrieves, compiles, reviews, and ensures the ...",data analyst
4,Lemonaid Health (lemonaid.com),"San Francisco, CA",Data Analyst (SQL Monster!),We’ve grown fast in the last two years.We’ve a...,data analyst

In [57]:
ds_info_df = pd.DataFrame.from_dict(ds_info, orient='index', columns=['company','location','title','job_desc','role'])
ds_info_df.head()

,company,location,title,job_desc,role
0,NU Borders,"Washington, DC",Data Scientist,Work with operational teams in the field to id...,data scientist
1,Humana,"Boston, MA",Senior Data Scientist,\nBachelor's Degree in a quantitative discipli...,data scientist
2,Stanley Black & Decker,"Towson, MD",Data Scientist,\nLead various ad-hoc requests for customer in...,data scientist
3,Humana,"Boston, MA",Lead Data Scientist,\nCollaborate with key business leaders to und...,data scientist
4,MORSE Corp,"Cambridge, MA",Data Scientist,NA,data scientist

In [58]:
ml_info_df = pd.DataFrame.from_dict(ml_info, orient='index', columns=['company','location','title','job_desc','role'])
ml_info_df.head()

,company,location,title,job_desc,role
0,Capital One,"Cambridge, MA",Machine Learning Software Engineer,\nBachelor's Degree\nAt least 2 years of exper...,machine learning engineer
1,AIT Global Inc,"Burlington, MA",Machine Learning Engineer,Transition POC machine learning workflows into...,machine learning engineer
2,Engtal,"Boston, MA",Machine Vision Engineer (Fully Remote),"BS in Computer Science, Physics, Math, or Elec...",machine learning engineer
3,Event Dynamic,"Dallas, TX",Machine Learning Engineer,Automation of the ML pipeline and development ...,machine learning engineer
4,Selby Jennings,"Boston, MA",Senior Software Engineer | Machine Learning | ...,\nDesign and build financial instruments and E...,machine learning engineer

In [59]:
frames = [swe_info_df,da_info_df,ds_info_df,ml_info_df]
result = pd.concat(frames)
# result.head()
# result.to_csv('temp.csv', index=False)
uploadToS3(result)

True

In [ ]:
# URL = "https://www.indeed.com/jobs?q=software+engineer&l=United+States"

# page = requests.get(URL)
# #             print(page)
# soup = BeautifulSoup(page.text, "html.parser")
# #             print(soup.prettify())

# jb = {}
# job_info = {}

# jb = extract_job_info(soup,job_info)

# jb[5]